h1 {
    color: blue;
    background-color: beige;
    text-align: center;
}

button,input {
    width: 100%;
    height: 50px;
    margin-bottom: 5px;
}

#Conteiner {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

